extends layouts/master
include ../mixins/mixins

block header
  label Services

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content

  .row
    .col-sm-1
    .col-sm-10.workarea
      h3 Service Search
      form.form-horizontal(role='form')
        +form-group('Search Criteria')
        +form-inputbox('text', 'empFName', 'Name:', 'Employee name', serName)
  +workbreak
  .row
    .col-sm-1
    .col-sm-10.workarea
      table.table.table-hover
        thead
          tr
            th Name
            th Additional Information
            th Duration
            th Price
            th Hair length
            th Category
        tbody
          tr
            td= serName
            td= serAddInfo
            td= serDuration
            td= serPrice
            td= serCategory
            td= serHairLength
          tr
            td Colour
            td None
            td 90 minutes
            td 260
            td colouring
            td short
  +workbreak()
  .row
    .col-sm-1
    .col-sm-10.form-group.workarea
      ul.nav.nav-pills.pull-right
        li(role='presentation')
          a.btn-primary(href='/service/Update') Update
        li(role='presentation')
          a.btn-primary(href='/service/view') View
        li(role='presentation')
          a.btn-primary(href='#') Delete
        li(role='presentation')
          a.btn-primary(href='#') Export Service List
          br
  //+workbreak()

