//text, password, email
mixin form-inputbox(type, id, label, placeholder, myValue)
  .form-group
    label.control-label.col-sm-2(for=id)= label
    .col-sm-10
      input.form-control(type=type id=id placeholder=placeholder value=myValue)

//text, password, email
mixin form-inputbox-readonly(type, id, label, placeholder, myValue)
  .form-group
    label.control-label.col-sm-2(for=id)= label
    .col-sm-10
      input.form-control(type=type id=id placeholder=placeholder value=myValue readonly)

mixin form-input-calendar(id, label, placeholder, myValue)
  .form-group
    label.control-label.col-sm-2(for=id)= label
    .col-sm-10
      .input-group
        input.form-control.dtpicker(type='text' id=id placeholder=placeholder value=myValue onclick='createpicker('+id+')')
        span.input-group-addon
          span.glyphicon.glyphicon-calendar

mixin form-button(label, path)
  ul.nav.nav-pills
    li(role='presentation')
      a.btn-primary(href=path)= label

mixin form-button-small-remove()
  ul.nav.nav-pills
    li(role='presentation')
      a.btn-primary.btn-danger(href='') -

mixin form-button-small-add()
  ul.nav.nav-pills
    li(role='presentation')
      a.btn-primary.btn-sm.btn-success(href='') +

mixin form-group(label)
  .form-group
    .col-sm-2
    .col-sm-10
      h5= label

mixin workbreak()
  .row
    .col-sm-1
    .col-sm-10.workarea
      br

mixin form-combobox(id, name, values, selected)
  .form-group
    label.col-sm-2.control-label= name
    .col-sm-10.selectContainer
      select.form-control(id=id name=name)
        each item in values
          if item.id == selected
            option(value=item.id selected)= item.value
          else
            option(value=item.id)= item.value

mixin form-combobox-readonly(id, name, values, selected)
  .form-group
    label.control-label.col-sm-2(for=id)= name
    .col-sm-10
      each item in values
        if item.id == selected
          input.form-control(type='text' id=id value=item.value readonly)
